
//    Font Family

$primary-font	: 'Poppins', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #6B7A8F;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$black			: #000;
$yellow         : #F7C331;


